@font-face {
    font-family: 'Russo Sans';
    src: url('../fonts/RussoSansBold.eot');
    src: url('../fonts/RussoSansBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RussoSansBold.woff') format('woff'),
        url('../fonts/RussoSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0;
}

body, html {
	width: 100%;
	height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    position: relative;
      -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

.modal-one {


}


.logo, .navbar a:hover {
	color: #fff;
}

.logo-image {
    display: inline-block;
}

.header {
    font-family: 'Russo Sans';
    font-size: 3rem;
    padding-top: 4.6rem;
}

.header2 {
	font-family: 'Russo Sans';
	font-size: 2rem;
	padding-top: 1rem;
}

.subheader {
	font-weight: 100;
}

.unav {
	padding: 2.1rem 2rem .5rem 2.7rem;
	-webkit-transition: background-color 1s ease;
	-moz-transition: background-color 1s ease;
	-ms-transition: background-color 1s ease;
	-o-transition: background-color 1s ease;
	transition: background-color 1s ease;
}

.unav-scroll {
	background: rgba(255,255,255,.96);
	color: #000;
	padding: 1rem 2rem 1rem 2rem;
	box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.5)
}

.unav-scroll .logo-image {
	display: none;
}

.unav-scroll .logo-image_ {
	display: block;
	width: 148px;
	float: left;
}

.logo-image_ {
	display: none;
}

.unav-scoll .main__motto1 {
	font-size: 1.4em;
}

.unav-scroll a, .unav-scroll a:hover, .unav-scroll .unav__toggler-icon, .unav-scroll .unav__button {
	color: #000;
}

.unav-scroll .unav__right-menu {
	padding-top: 5px;
}

.unav-scroll .unav__button {
    border: 1px solid #000;
    padding: .4rem 1rem;
}

.socials {
	position: absolute;
	left: 50%;
	right: 50%;
	width: 360px;
	top: 4.4rem;
	margin-left: -150px;

}

.socials_ico {
	margin: 0 3px 0 3px;
	text-decoration: none;
 
}

.socials_ico:hover {
	text-decoration: none;
}

.socials_ico:hover svg {
	fill: #ddd;
}


.socials_ico svg {
	width: 34px;
	fill: #fff;
   -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.unav-scroll .socials_ico:hover svg {
	fill: #444;

}

.unav-scroll .socials {
	top: 2rem;
}

.unav-scroll .socials_ico svg {
	fill: #000;
	width: 28px;
}

.unav, .main_motto1:hover {
	color: #fff;
}

.unav__button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 3px 0 0 2px;
    font-family: 'Russo Sans';
    font-size: 1rem;
    color: #fff;
    width: 219px;
    height: 40px;
    cursor: pointer;
    margin: 2px 28px 0 20px;
    float: right;
}


.unav__toggler {
	width: 35px;
	height: 35px;
    z-index: 1050;
	top: 265px;
	right: 23px;
	float: right;
	margin: 10px 14px 0 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.unav__toggler.open {
	position: absolute;	
}

.unave__toggler .active span {
	background-color: #000;
}


.unav__toggler:hover {
	cursor: pointer;
}



.unav__toggler span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #fff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}


.unav__toggler span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.unav__toggler span:nth-child(2) {
	top: 8px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.unav__toggler span:nth-child(3) {
	top: 16px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.unav__toggler.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -4px;
	left: 1px;
	background-color: #000;
	width: 35px;
	background-color: #000;
}

.unav__toggler.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.unav__toggler.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 21px;
	left: 1px;
	width: 35px;
	background-color: #000;
}

.unav__button:hover {
	background: rgba(255,255,255,.5);
}

.unav-scroll .unav__button:hover {
	background: rgba(0,0,0,.1);
}

.unav-scroll .unav__toggler span {
	background-color: #000;
}

.unav__lang {
    color: #fff;
    margin: 13px 0 0 0;
    text-decoration: underline;
    float: right;
    font-size: .9rem;
    letter-spacing: .5px;
}

.unav__lang svg {
	width: 16px;
	margin: 2px 5px 0 0;
	float: left;
	fill: #fff;
}

.unav-scroll .unav__lang svg {
	fill: #000;
}

.unav__lang-arrow {
	margin-left: 5px;
	font-size: .6rem;
}



.main__motto1 {
	font-family: 'Russo Sans';
	font-size: 2.5rem;
	margin-bottom: -10px;
	padding-top: 10px;
}


.main {
    color: #fff;
    padding-top: 262px;
    height: 1340px;
	width: 100%;
	background: rgb(30,185,183);
	background: -moz-linear-gradient(top,  rgba(44,119,150,1) 45%, rgba(30,185,183,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(44,119,150,1) 45%,rgba(30,185,183,1) 100%); 
	background: linear-gradient(to bottom,  rgba(44,119,150,1) 45%,rgba(30,185,183,1) 100%);
}

.main__bg {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
    background-image: url(../images/tablet.png);
    background-position: 260px 100%;
    background-repeat: no-repeat;
}

.main__content {
    height: 100%;

}

.main__blockchain {
	font-size: 1rem;
	color: #d3e9ef;
    font-family: 'Russo Sans';

}

.main__blockchain-number {
    font-size: 1.35rem;
    border-bottom: 1px solid #d3e9ef;
    margin-left: 4px;
    letter-spacing: 1px;
}

.main__header {
    font-size: 5rem;
    font-family: 'Russo Sans';
    letter-spacing: 0px;
    margin: 2px 0 0 16px;
}

.main__header-version {
    font-size: 2.5rem;
    margin-left: 4px;
}

.main__header-mobversion, .works2__git, .works2__mobile, .principe__token, .image-mobile, .sidebar__mobile, .mobile {
    display: none;
}

.main__subheader {
    color: #d3e9ef;
    font-size: 1.732rem;
    letter-spacing: .2px;
    color: #d3e9ef;
    font-size: 1.732rem;
    margin: 11px -15px 0 -15px;
    line-height: 2.4rem;

}


.main__buttons {
	margin: 140px 0;
}

.main__buttons-btn {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 50px;
	font-size: .6rem;
	height: 46px;
	font-family: 'Russo Sans';
	color: #003850;
	cursor: pointer;
	width: 100%;
}

.main__buttons-btn:hover {
	background: rgba(255,255,255,.75);
}

.works {
	background-color: #f5f5f5;
}

.works__header2 {
	padding: 15px;
	margin-bottom: 20px;
}

.works__img {
	height: 450px;
	width: 100%;
    padding: 20px 10px 10px 25px;
}

.works__img1 {
	float: right;
}

.works__img2 {
	float: left;
}

.works2 {
	padding-top: 90px
}

.works2__header {
	font-size: 1.5rem;
}

.works2__scheme {
	padding-top: 50px;
}

.image-block {
	position: relative;
}

.image-block img {
	width: 100%;
	height: auto;
}

.image-block__hover {
	position: absolute;
	left: 0;
	z-index: 100;
}

.works2 .image-block__hover {
	bottom: 50px;
}

.principe {
	background-color: #f5f5f5;
}

.principe__header2 {
    padding-top: 1.5rem;
}


.node__container {
	
	background-position: center;
	min-height: 627px;
}

.node__block-right {
	right:0;
	left: auto;
	padding-left: 30px;
}

.node__block-left {
	padding-top: 40px;
}

.node__header {
	font-size: 1.4rem;
}

.node__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.node__list li {
	padding-bottom: 20px;
}

.node__list-left {
	margin-top: 60px;
}

.node__header2 {
    font-size: 1.2rem;
 }

.node__subheader {
    font-size: .7rem;
 }



img.node__ico {
	width: 60px;
	height: 60px;
	float: left;
	margin: 0 20px 20px 0;
}



.inter, .question {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10000;
	background: rgba(255,255,255,0.96);
	left: 0;
	top: 0;
}

.inter__nav {
	padding: 5px 2rem 10px 2rem;
}

.inter__motto1 {
	color: #000;
}

.inter__x-icon svg {
	width: 20px;
}

.inter__x-icon:hover {
	cursor: pointer;
}

.inter__header {
}

a.inter__lang {
	text-decoration: underline;
	color: #555;
	font-size: 1rem;
}

a.inter__lang:hover {
	text-decoration: none;
}

.inter__region {
	font-weight: bold;
	border-bottom: 1px solid #000;
	margin: 50px 0 30px 0;
}

/* flags*/

.flag {
	width: 16px;
	height: 16px;
	background-image: url('../images/flags.png');
	background-size: cover;
	display: inline-block;
	margin: 0 1px -3px 0;
}

.flag-ru {
	background-position: 0 0;
}

.flag-en {
	background-position: 16px 0;
}

/* sidebar */


.sidebar {
	background: rgba(255,255,255,0.97);
	height: 100%;
	min-height: 100%;
	position: fixed;
	width: 418px;
	z-index: 999;
	right: 0;
	display: none;
	top:0;
	padding-top: 73px;
	-webkit-transition: right .5s ease-out .3s;
	-moz-transition: right .5s ease-out .3s;
	-ms-transition: right .5s ease-out .3s;
	-o-transition: right .5s ease-out .3s;
	transition: right .5s ease-out .3s;
	overflow: hidden;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5)
}

.sidebar__wrapper {
	width: 100%;

}

.sidebar__navbar {
	padding: 0 0 20px 0;
}

.sidebar__logo {
	float: left;
	margin-left: 52px;
}

.sidebar__x-icon {
	margin: 10px 20px 0 0;
	width: 20px;
}

.sidebar__x-icon svg {
	width: 20px;
}

.sidebar__x-icon:hover {
    cursor: pointer;
}

a.sidebar__header {
    color: #2c95c3;
    font-size: 1.45rem;
    font-family: 'Russo Sans';
    margin: -2px 0 27px 13px;
    float: left;
    letter-spacing: .7px;
}

a.sidebar__header:hover {
	color: #2c95c3;
	text-decoration: none;
}

.sidebar__menu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: scroll;
	margin-right: -27px;
}

.sidebar__menu li {
	height: 72px;
	border-top: 1px solid #dbe0e1;
}

.sidebar__menu li:hover {
	background: rgb(30,185,183);
	background: -moz-linear-gradient(top,  rgba(44,119,150,1) 0%, rgba(30,185,183,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%); 
	background: linear-gradient(to bottom,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%);
}

.sidebar__menu-icon {
	width: 30px;
	float: left;
	margin-right: 16px;
}

.sidebar__menu li a {
	width: 100%;
    padding: 21px 20px 0 49px;
	font-size: 1.1rem;
	font-family: 'Russo Sans';
	color: #000;
	float: left;
	display: block;
}

.sidebar__menu .lang {
    padding: 4px 0 0 1px;
    float: left;
    letter-spacing: .3px;
}

.sidebar__menu li:hover a {
	color: #fff;
	text-decoration: none;

}

.sidebar__menu li:hover .sidebar__menu-icon svg {
	fill: #fff;
}

/* ask question */

.question__header {
	padding: 30px 0;
}


.question__input, .question__area {
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: 1px solid #222;
    margin-bottom: 20px;
}

.question__area {
    height: 170px;
}

.blue-btn {
	color: #fff;
	padding: .4rem 2rem .4rem 2rem;
	border-radius: 20px;
	font-family: 'Russo Sans';
	background: rgb(30,185,183);
	background: -moz-linear-gradient(top,  rgba(44,119,150,1) 0%, rgba(30,185,183,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%); 
	background: linear-gradient(to bottom,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%);
}

.question__send-btn:hover {
    cursor: pointer;
    color: #ddd;
}

.ask__x-icon:hover {
	cursor: pointer;
}

.ask__x-icon svg {
	width: 20px;
}

.btn-mobile {
	display: none;
}



/* media */

@media screen and (max-width: 1280px){

	.logo img {
		width: 148px;
	}

	.main__motto1 {
		font-size: 1.7rem;
		padding-top: 0;
	}

	.main {
		padding-top: 120px;
	}

	.main__header {
		font-size: 3.6rem;
	}

	.main__content {
		background-size: 62%;
		background-position: center bottom;
	}

	.main__subheader {
		font-size: 1.2rem;
	}

    .main__buttons {
	    margin: 70px 0;
    }

    .main__buttons-btn {
    	padding: 1rem;
    }

	.principe__header2 {
		padding-top: 2rem;
	}

	.principe__subheader {
		font-size: 1rem;
	}

	.sidebar {

	}

	.sidebar__menu li {
		height: 68px;
	}

	.sidebar__menu li a {
		padding: 20px 20px 0 25px;
		font-size: 1rem;
	}

	.sidebar__menu-ico {
		width: 26px;
	}

	.socials {
	    top: 3.5rem;
    }

    .socials_ico {
        margin: 0 3px 0 3px;
    }

    .socials_ico svg, .unav-scroll .socials_ico svg {
        width: 20px;
    }

	.unav-scroll .socials {
		top: 2.5rem;
	}

}

@media screen and (max-width: 1024px){


	.principe__header {
		font-size: 1rem;
	}

	.principe__subheader {
		font-size: .7rem;
	}

	.socials {
		display: none;
	}

	.header2 {
		font-size: 1.1rem;
	}

	.principe__header2 {
        padding-top: 1rem;
    }

	.node__header2 {
	    font-size: .9rem;
	}

}


@media screen and (max-width: 640px){


	.main {
	    padding-top: 120px;
	    height: 150%;
	}

    .unav__button, .desktop, .main__blockchain, .main__header-version, .works2__image, .principe__image {
    	display: none;
    }

    .image-mobile, .mobile {
    	display: block;
    }

    .logo img {
    	width: 32px;
    	margin-right: 6px;
    }

    .unav-scroll {
    	padding: 0 .5rem 0 .5rem;
    }

    .unav {
    	padding: .5rem;
    }

    .unav__toggler {
    	float: right;
    }

	.main__header {
		font-size: 3rem;
		display: block;
	}

	.header2 {
        font-size: 1.6rem;
    }

	.btn-mobile {
		margin: 0 auto;
		margin-bottom: 30px;
		display: block;
	}

    .works2__git, .works2__mobile {
	    display: block;
	    margin: 0 auto;
	}

	.git-image {
		margin: 0 auto;
	}

	.main__header-mobversion {
	    display: block;
	    font-size: 1.7rem;
	    margin: 2rem 0 4rem 0;
	    font-weight: bold;
	}

	.main__subheader {
	    font-size: 1.5rem;
	    text-align: justify;
	}

	.main__content {
		background-size: 170%;
	}


	.main__buttons-btn {
	    margin-bottom: 1rem;
	    font-size: .6rem;
	}


	.sidebar__mobile {
		display: flex;
		flex-wrap: wrap;
		color: #000;
		width: 100%;
		padding: 0 10px 30px 30px;
		justify-content: space-between;
	}

	.sidebar__mobile a {
		color: #000;
	}

    .col-xs-2, .col-sm-2 {
    	width: 16%;
    }

    .col-xs-8, .col-sm-8 {
    	width: 64%;
    }

	.works__img1, .works__img2 {
		float: none;
	}

	.works2 .image-block__hover {
		bottom: 10px;
	}

	.works2__header {
		padding: 10px 0 30px;	
	}

	.works2__subheader {
		padding: 30px 0 30px 0;
	}

	.works2__header2 {
	
		bottom: 25px;
	}

	.works2__scheme {
	    display: none;
	}

	.works2__git {
		text-align: center;
		background-color: #f5f5f5;
		padding: 30px 0 50px 0;
		margin-bottom: 50px;
	}

	.works2__git-header {
		padding-top: 2rem;
	}

	.principe {
		background-color: #f5f5f5;
	}

	.principe__mobile {
		position: relative;
		text-align: center;
	}

	.principe__token {
		display: block;
		padding: 35px 0 40px 0;
	}

	.principe__subheader {
		font-size: 1rem;
		margin-bottom: 50px;
	}

	.node__image {
		display: none;
	}

	.node__image-mobile {
		margin-bottom: 50px;
		display: block;
	}

	.node__header {
		text-align: center;
		margin-bottom: 50px;
	}

	.node__block-left, .node__block-right {
		position: relative;
		padding: 0 1rem 0 1rem;
		margin: 0;
		
	}

	.node__list-left {
		margin: 0;
	}

	.node__list-right {
		margin: 20px 0;
	}

	.inter {
		height: auto;
		min-height: 100%;
	}

}


@media screen and (max-width: 375px){

	.unav__lang {
	    margin-right: .5rem;
	}

	.unav__toggler {
	    margin-left: 10px;
	}

    .main__subheader {
    	font-size: 1.3rem;
    }

	.works__img {
	    height: 400px;
	    margin: 0;
	}

}

@media screen and (max-width: 320px){

	.main {
	    padding-top: 110px;
	    height: 170%;
	}

	.logo img {
	    width: 38px;
	}

	.unav {
	    padding: .5rem .75rem .5rem .75rem;
	}

	.unav__toggler {
        font-size: .8em;
	}

	.main__header {
	    font-size: 2.5rem;
	}

	.main__header-mobversion {
	    margin: 1.5rem 0 2rem 0;
	}

	.main__subheader {
	    font-size: 1rem;
	}
    
	.main__buttons {
	    margin: 40px 0;
	}

	.image-mobile {

	}

	.works2__user-image {
		margin-left: -15px;
	}

	.node__header {
        font-size: 1.1rem;
    }

	.node__header2 {
		font-weight: 1rem;
	}

	.btn {
		padding: .5rem .7rem .5rem .7rem;
	}

	.sidebar {
        width: 290px;
    }

    .inter__header {
    	font-size: 1.3rem;
    	padding-top: 3rem;
    }

    .inter__region {
        margin: 30px 0 30px 0;
    }

}

