@font-face {
    font-family: 'Russo Sans';
    src: url('../fonts/RussoSansBold.eot');
    src: url('../fonts/RussoSansBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RussoSansBold.woff') format('woff'),
        url('../fonts/RussoSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0;
}

body, html {
	width: 100%;
	height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    position: relative;
      -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

section {
	position: relative;
}

input {
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #000;
}

a:hover {
	color: #01d1f6;
}

.scroll-to-top {
	display: none;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: rgba(255,255,255,.7);
	position: fixed;
	right: 40px;
	bottom: 15px;
	z-index: 99999;
	padding: 13px 10px 15px 10px;
	border: 1px solid #ddd;
}

.scroll-to-top:hover {
	cursor: pointer;
}

.scroll-to-top span {
	font-size: 30px;
}

.navbar a:hover {
	color: #fff;
}

.logo-image, .logo-image_ {
    display: inline-block;
    width: 170px;
}

.logo-mobile {
	display: none;
}

.header {
    font-family: 'Russo One';
    font-size: 50px;
    padding-top: 76px;
}

.header2 {
	font-family: 'Russo Sans';
	font-size: 34px;
	padding-top: 1rem;
}

.header3 {
	font-family: 'Russo Sans';
	font-size: 18px;
	padding-top: 2rem;
	font-weight: bold;
}

.subheader {
	font-size: 18px;
}

.unav {
	padding: 21px 29px 15px 51px;
	-webkit-transition: background-color 1s ease;
	-moz-transition: background-color 1s ease;
	-ms-transition: background-color 1s ease;
	-o-transition: background-color 1s ease;
	transition: background-color 1s ease;
}

.unav-scroll {
	background: rgba(255,255,255,.96);
	color: #000;
	box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.5)
}

.unav-scroll .logo-image {
	display: none;
}

.unav-scroll .logo-image_ {
	display: block;
	float: left;
}

.logo-image_ {
	display: none;
}

.unav-scroll a, .unav-scroll a:hover, .unav-scroll .unav__toggler-icon, .unav-scroll .unav__button {
	color: #000;
}

.unav-scroll .unav__button {
    border: 1px solid #000;
}

.socials {
	position: absolute;
	left: 50%;
	right: 50%;
	width: 360px;
	top: 41px;
	margin-left: -150px;

}

.socials_ico {
	margin: 0 3px 0 3px;
	text-decoration: none;
 
}

.socials_ico:hover {
	text-decoration: none;
}

.socials_ico:hover svg {
	fill: #00c0e5;
}


.socials_ico svg {
	width: 34px;
	fill: #fff;
   -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.unav-scroll .socials_ico:hover svg {
	fill: #444;

}


.unav-scroll .socials_ico svg {
	fill: #000;
}

.unav, .main_motto1:hover {
	color: #fff;
}

.unav__button {
	background: rgba(255,255,255,.1);
    border: 1px solid #fff;
    color: #fff;
    width: 218px;
    height: 40px;
    cursor: pointer;
    margin: 4px 18px 0 23px;
    float: right;
}


.unav__toggler {
	width: 35px;
	height: 35px;
    z-index: 1050;
	top: 229px;
	right: 29px;
	float: right;
    margin: 14px 7px 0 7px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

.unav__toggler:focus {outline:0;}

.unav__toggler.open {
	position: absolute;	
}

.unave__toggler .active span {
	background-color: #000;
}


.unav__toggler:hover {
	cursor: pointer;
}



.unav__toggler span {
	display: block;
	position: absolute;
	height: 2px;
	width: 25px;
	background: #fff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}


.unav__toggler span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.unav__toggler span:nth-child(2) {
	top: 8px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.unav__toggler span:nth-child(3) {
	top: 16px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.unav__toggler.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0px;
	left: 0px;
	background-color: #000;
	width: 35px;
	background-color: #000;
}

.unav__toggler.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.unav__toggler.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 25px;
	left: 0px;
	width: 35px;
	background-color: #000;
}

.unav__button:hover {
	background: transparent;
}

.unav-scroll .unav__button:hover {
	background: rgba(0,0,0,.1);
}

.unav-scroll .unav__toggler span {
	background-color: #000;
}

.unav__lang {
    color: #fff;
    margin: 18px 10px 0 0;
    text-decoration: underline;
    float: right;
    font-size: .7rem;
    letter-spacing: .5px;
    font-family: 'Russo Sans';
}

.unav__lang svg {
	width: 26px;
	margin: -6px 6px 0 0;
	float: left;
	fill: #fff;
}

.unav-scroll .unav__lang svg {
	fill: #000;
}

.unav__lang-arrow {
	margin-left: 5px;
	font-size: .6rem;
}



.main__motto1 {
	font-family: 'Russo Sans';
	font-size: 2.5rem;
	margin-bottom: -10px;
	padding-top: 10px;
}


.main {
    color: #fff;
    padding-top: 232px;
    height: 1310px;
	width: 100%;
	background: rgb(30,185,183);
	background: -moz-linear-gradient(top,  rgba(44,119,150,1) 45%, rgba(30,185,183,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(44,119,150,1) 45%,rgba(30,185,183,1) 100%); 
	background: linear-gradient(to bottom,  rgba(44,119,150,1) 45%,rgba(30,185,183,1) 100%);
}

.main__bg {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
    background-image: url(../images/tablet.png);
    background-position: 259px 339px;
    background-repeat: no-repeat;
}

.main__content {
    height: 100%;

}

.main__blockchain {
	font-size: 1rem;
	color: #d3e9ef;
    font-family: 'Russo Sans';
    letter-spacing: 1px;
}

.main__blockchain-number {
    font-size: 23px;
    border-bottom: 1px solid #d3e9ef;
    margin: 0 -7px 0 13px;
    font-family: 'Russo Sans';
}

.main__header {
    font-size: 80px;
    font-family: 'Russo Sans';
    margin: 2px 0 0 0;
}

.main__header-version {
    font-size: 2.5rem;
    margin-left: 4px;
}

.main__header-mobversion, .works2__git, .works2__mobile, .principe__token, .image-mobile, .sidebar__mobile, .mobile {
    display: none;
}

.image-mobile {
	margin-top: 10px;
}

.main__subheader {
    font-size: 30px;
    color: #d3e9ef;
    margin: 12px 3px 0 0;
    line-height: 36px;
}


.main__buttons {
	margin: 141px 0;
	width: 100%;
	text-align: center;
}

.main__buttons-btn {
	background: rgba(255,255,255,.2);
	-webkit-transition: background-color .85s ease;
	-moz-transition: background-color .85s ease;
	-ms-transition: background-color .85s ease;
	-o-transition: background-color .85s ease;
	transition: background-color .85s ease;
	border: 1px solid #fff;
	font-size: 14px;
	font-family: 'Russo Sans';
	height: 48px;
	line-height: 1rem;
	color: #fff;
	cursor: pointer;
	width: 243px;
	margin: 0;
	padding: 0;
	display: inline-block;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5)
}

.main__buttons-left {
	border-radius: 5px 0 0 5px;
	border-right: 0;
	margin-right: -4px;
}

.main__buttons-center {
	width: 286px;
}

.main__buttons-right {
	border-radius: 0 5px 5px 0;
	border-left: 0;
	margin-left: -4px;
}

.main__buttons-btn:hover {
	background: rgba(255,255,255,.1);
}

.arrow {
	position: absolute;
	width: 50px;
	left: 50%;
	margin: -25px 0 0 -25px;
	top: 0;
}

.image-block {
	position: relative;
	padding: 0;
	margin: auto;
}

.image-block img {
	width: 100%;
	height: 100%;
}

.image-block__hover {
	position: absolute;
	left: 0;
	z-index: 100;
}


.works {
	background: rgba(0,0,0,.05);
	padding-bottom: 40px;
	height: 840px;
}

.works__physical {
	left: 0;
	top: 5px;
	padding: 0;
}

.works__digital {
	right: 0;
	bottom: 0;
	left: auto;
	padding: 0;
	text-align: right;
}

.works__subheader {
    margin-top: 18px;
    line-height: 25px;
}

.works__content {
	margin-top: 50px;
}

.works__header2 {
	margin-bottom: 5px;
}

.works__img {
	height: 420px;
	width: 100%;
    padding: 0 10px 0 25px;
}

.works__img1 {
	float: right;
}

.works__img2 {
	float: left;
}

.works__links {
	margin-top: 45px;
}

.works2 {
	padding-top: 65px;
}

.works2__container {
    background-image: url('../images/work3.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center 220px;
    height: 837px;
    position: relative;
}

.works2__subheader {
	margin: 20px 0 25px 0;
}

.works2__header {
	font-size: 24px;
}

.works2__scheme {
	padding-top: 50px;
}

.works2__header2 {
	font-size: 24px;
	margin-bottom: 2rem;
}

.works2__whitepaper {
	position: absolute;
	bottom: 50px;
	left: 0;
}

.works2__subheader2 {

}

.works2 .image-block__hover {
	bottom: 80px;
	padding: 0;
}

.principe {
	background: rgba(0,0,0,.06);
}

.principe__container {
    background-image: url('../images/principe.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
   	height: 245px;
}

.principe__header2 {
    padding-top: 4.5rem;
    font-size: 24px;
}


.node__container {
	background-position: center;
}

.node__block-right {
	right:0;
	left: auto;
	padding-left: 30px;
}

.node__block-left {
	padding-top: 80px;
}

.node__header {
	font-size: 24px;
}

.node__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.node__list li {
	padding-bottom: 20px;
}

.node__list-left {
	margin: 30px 0 0 -20px;
}

.node__header2 {
    font-size: 1.2rem;
 }

.node__subheader {
    font-size: .7rem;
 }

.node__adv {
	padding: 10px 10px 5px 10px;
	margin: 0 0 0;
	-webkit-transition: background-color .85s ease;
	-moz-transition: background-color .85s ease;
	-ms-transition: background-color .85s ease;
	-o-transition: background-color .85s ease;
	transition: background-color .85s ease;
	border-radius: 5px;
}

.node__adv:hover {
	background: rgba(0, 192, 229, 1);
	cursor: pointer;
	color: #fff;
}

img.node__ico {
	width: 60px;
	height: 60px;
	margin: 15px 0 15px 0;
}

.map__container {
	padding: 0;
	max-width: 1640px;
}

.business {
	background: rgba(0,0,0,.06);

}

.business__header2 {
    margin: 2rem 0 1.5rem 0;
    font-size: 30px;
}

.information__header {
	margin: 9rem 0 2.5rem 0;
	font-size: 34px;
}

.information__header2 {
	font-size: 24px;
	padding: 0 0 15px 0;
}

.information__image-block {
	margin-bottom: 25px;
}

.information__dist {
	position: absolute;
	bottom: 50px;
	left: 0px;
}

.information2 {
	padding-bottom: 35px;
}

.information2__header {
	font-size: 18px;
	padding: 0;
}

.information2__service {
	border-left: 2px solid #000;
	position: absolute;
	top: 70px;
	left: -15px;
	padding: 0px 0 0 20px;
}

.information__dist-header {
	font-size: 30px;
}

.whatcan {
	background: rgba(0,0,0,.06);
	padding: 20px 0 60px 0; 	
}

.whatcan__list {
	text-align: left;
	list-style: none;
	width: 70%;
	margin: 70px 0 30px 15%;
	list-style-image: url('../images/bullet.png');
	font-size: .9rem;
}



.whatcan__list li {
	padding-bottom: 1rem;
	padding-left: 1.5rem;
	font-size: 16px;
}

.video {
	overflow: hidden;
}

.video__item {
	position: relative;
	color: #fff;
	min-height: 630px;
}

.video__over {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.8);
	z-index: 100;
	width: 100%;
	height: 100%;

}

.video__title {
    margin: 42px 0 42px 0;
    font-family: 'Russo Sans';
    font-size: 34px;
}

.video__subheader {
	font-size: 18px;
	padding-bottom: 1.6rem;
}

.video__play {
	margin: 0 auto;
	margin-top: 82px;
	height: 130px;
	width: 130px;
	border-radius: 68px;
	border: 2px solid #fff;
	position: relative;
	-webkit-transition: background-color 1s ease;
	-moz-transition: background-color 1s ease;
	-ms-transition: background-color 1s ease;
	-o-transition: background-color 1s ease;
	transition: background-color 1s ease;
}

.video__play:hover {
	cursor: pointer;
	background: rgba(255,255,255, .2);
}

.video__play-icon {
	font-size: 3rem;
	position: absolute;
	top: 45px;
	left: 50px;
}



.welcome {
	padding: 140px 0 155px 0;
}

.welcome__header {
	font-size: 24px;
	margin-bottom: 45px;
}

.welcome__input {
	width: 100%;
	border-radius: 10px;
	height: 56px;
	margin-top: -7px;
}

.welcome__socials svg {
	fill: #00c0e5;
	width: 50px;
	margin: 0 5px 0 5px;
}

.welcome__socials svg:hover {
   fill: #ccc;
}

.welcome__subscribe {
	padding-left: 130px;
}

.footer {
	background-color: #222;
    padding: 25px 29px 15px 30px;
    color: #fff;
    width: 100%;
    float: left;
}

.footer__logo {
	height: 100%;
	float: left;
}

.footer__logo img {
	width: auto;
}

.footer__list {
	list-style: none;
	float: left;
	margin-left: 14px;
}

.footer__list li {
	display: inline;

}

.footer__list li a {
	margin: 23px 47px 0 0;
	color: #fff;
	text-decoration: underline;
    font-family: 'Russo Sans';
    font-size: 12px;
    float: left;

}

.footer__list li:last-child a {
	margin-right: 0;
}

.footer__list li a:hover {
    text-decoration: none;
}

.footer__right {
	margin: 6px 0 0 0;
	padding-left: 100px;
}

.footer__lang {
    float: none;
    margin-right: 13px;
}

.footer__lang svg {
	float: none;
	margin-bottom: -3px;
	width: 18px;
}

.inter, .question {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10000;
	background: rgba(255,255,255,0.96);
	left: 0;
	top: 0;
}

.inter__nav {
    padding: 34px 48px 52px 46px;
}

.inter__motto1 {
	color: #000;
}

.inter__x-icon svg {
	width: 30px;
}

.inter__x-icon:hover {
	cursor: pointer;
}

.inter__header {
}

a.inter__lang {
	text-decoration: underline;
	color: #555;
	font-size: .9rem;
    font-family: 'Russo Sans';
}

a.inter__lang:hover {
	text-decoration: none;
}

.inter__region {
	font-weight: bold;
	border-bottom: 1px solid #000;
	margin: 50px 0 30px 0;
}

/* flags*/

.flag {
	width: 16px;
	height: 16px;
	background-image: url('../images/flags.png');
	background-size: cover;
	display: inline-block;
	margin: 0 1px -3px 0;
}

.flag-ru {
	background-position: 0 0;
}

.flag-en {
	background-position: 16px 0;
}

/* sidebar */


.sidebar {
	background: rgba(255,255,255,0.97);
	height: 100%;
	min-height: 100%;
	position: fixed;
	width: 418px;
	z-index: 999;
	right: 0;
	display: none;
	top:0;
	padding-top: 41px;
	-webkit-transition: right .5s ease-out .3s;
	-moz-transition: right .5s ease-out .3s;
	-ms-transition: right .5s ease-out .3s;
	-o-transition: right .5s ease-out .3s;
	transition: right .5s ease-out .3s;
	overflow: hidden;
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5)
}

.sidebar__wrapper {
	width: 100%;

}

.sidebar__navbar {
	padding: 0 0 20px 0;
}

.sidebar__logo {
	float: left;
	margin-left: 52px;
}

.sidebar__x-icon {
	margin: 10px 20px 0 0;
	width: 20px;
}

.sidebar__x-icon svg {
	width: 20px;
}

.sidebar__x-icon:hover {
    cursor: pointer;
}

a.sidebar__header {
    color: #2c95c3;
    font-size: 1.45rem;
    font-family: 'Russo Sans';
    margin: -2px 0 27px 13px;
    float: left;
    letter-spacing: .7px;
}

a.sidebar__header:hover {
	color: #2c95c3;
	text-decoration: none;
}

.sidebar__menu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: scroll;
	margin-right: -27px;
}

.sidebar__menu li {
	height: 72px;
	border-top: 1px solid #dbe0e1;
}

.sidebar__menu li:hover {
	background: rgb(30,185,183);
	background: -moz-linear-gradient(top,  rgba(44,119,150,1) 0%, rgba(30,185,183,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%); 
	background: linear-gradient(to bottom,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%);
}

.sidebar__menu-icon {
	width: 30px;
	float: left;
	margin-right: 16px;
}

.sidebar__menu li a {
	width: 100%;
    padding: 21px 20px 0 49px;
	font-size: 1.1rem;
	font-family: 'Russo Sans';
	color: #000;
	float: left;
	display: block;
}

.sidebar__menu .lang {
    padding: 4px 0 0 1px;
    float: left;
    letter-spacing: .3px;
}

.sidebar__menu li:hover a {
	color: #fff;
	text-decoration: none;

}

.sidebar__menu li:hover .sidebar__menu-icon svg {
	fill: #fff;
}

/* ask question */

.question__header {
	padding: 30px 0;
}


.question__input, .question__area {
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: 1px solid #222;
    margin-bottom: 20px;
}

.question__area {
    height: 170px;
}


.top-border {
	border-top: 1px solid #d7d7d7;
	position: relative;
}

.top-border-circle {
	width: 12px;
	height: 12px;
	background-color: #d7d7d7;
	border-radius: 6px;
	position: absolute;
	top: -6px;
	left: 50%;
	margin-left: -6px;
}

/* buttons */



.btn {
    border: 1px solid #000;
    border-radius: 5px;
    font-family: 'Russo Sans';
    font-size: 1rem;

}

.unav__button {
	border-color: #fff;
	font-size: 16px;
    padding: 1px 0 0 5px;
    letter-spacing: .1px;
	-webkit-transition: background-color .85s ease;
	-moz-transition: background-color .85s ease;
	-ms-transition: background-color .85s ease;
	-o-transition: background-color .85s ease;
	transition: background-color .85s ease;
}


.reg-btn {
	color: #fff;
	border-radius: 5px;
	font-family: 'Russo Sans';
	border: 0;
}

.reg-btn-white {
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
}

.reg-btn:hover {
	cursor: pointer;
   	-webkit-box-shadow: 0px 4px 13px -1px rgba(0,192,229,1);
	-moz-box-shadow: 0px 4px 13px -1px rgba(0,192,229,1);
	box-shadow: 0px 4px 13px -1px rgba(0,192,229,1);
}

.white-btn {
    color: #00c0e5;
    border: 1px solid #00c0e5;
    background: transparent;
    font-size: 14px;
    width: 245px;
    height: 44px;
}

.white-btn:hover {
	cursor: pointer;
   	-webkit-box-shadow: 0px 4px 13px -1px rgba(0,192,229,1);
	-moz-box-shadow: 0px 4px 13px -1px rgba(0,192,229,1);
	box-shadow: 0px 4px 13px -1px rgba(0,192,229,1);	
}

.blue-btn {
	background-color: #00c0e5;
	-webkit-box-shadow: 0px 1px 13px -1px rgba(0,192,229,1);
	-moz-box-shadow: 0px 1px 13px -1px rgba(0,192,229,1);
	box-shadow: 0px 1px 13px -1px rgba(0,192,229,1);
	font-size: 14px;
	width: 245px;
	height: 44px;
}

.blue-btn-white {
	background-color: #00c0e5;
	-webkit-box-shadow: 0px 1px 13px -1px rgba(0,192,229,1);
	-moz-box-shadow: 0px 1px 13px -1px rgba(0,192,229,1);
	box-shadow: 0px 1px 13px -1px rgba(0,192,229,1);
	color: #fff;
	border: 1px solid #fff;
}

.blue-btn-white:hover {
	cursor: pointer;
   	-webkit-box-shadow: 0px 4px 13px -1px rgba(0,192,229,1);
	-moz-box-shadow: 0px 4px 13px -1px rgba(0,192,229,1);
	box-shadow: 0px 4px 13px -1px rgba(0,192,229,1);
}

.video__button {
	background: transparent;
	color: #00c0e5;
	font-size: .7rem;
	box-shadow: none;
	border: 1px solid #00c0e5;
	border-radius: 10px;
	width: 300px;
	height: 60px;
}

.whatcan__button {
	font-size: .9rem;
}

.footer__button {
    font-size: 14px;
    height: 40px;
    padding: 0 35px 0 35px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.footer__button-download {
    margin-right: 6px;
    width: 248px;
}

.footer__button-ask {
    width: 218px;
}

.works2__git-btn {
	background-color: #256a94;
	box-shadow: none;
	-webkit-box-shadow: none;
	width: 218px;
	font-size: .9rem;
}



a.footer__lang:hover {
	color: #fff;
}


.mobile-link {
    font-family: 'Russo Sans';
	color: #00c0e5;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
}

.question__send-btn:hover {
    cursor: pointer;
    color: #ddd;
}

.ask__x-icon:hover {
	cursor: pointer;
}

.ask__x-icon svg {
	width: 30px;
}

.btn-mobile {
	display: none;
}




/* media */

@media screen and (max-width: 1440px) {

    .footer__button {
    	padding: 0 30px 0 30px;
    }

    .footer__button-download {
    	width: 210px;
    	font-size: .8rem;
    }

    .footer__button-ask {
    	width: 180px;
    	font-size: .8rem;
    }


}

@media screen and (min-width: 1400px) {

	.container {
	    max-width: 1400px;
	    padding-left: 0;
	    padding-right: 0; 
	}



}

@media screen and (max-width: 1344px){

	.socials {
	    top: 3rem;
    }

    .socials_ico {
        margin: 0 3px 0 3px;
    }

    .socials_ico svg, .unav-scroll .socials_ico svg {
        width: 22px;
    }

    .welcome__socials svg {
    	width: 40px;
    }

}

@media screen and (max-width: 1280px){

	.main__bg {
		background-size: 86%;
		background-position: 110% 100%;
	}

	.logo img {
		width: 148px;
	}

	.main__motto1 {
		font-size: 1.7rem;
		padding-top: 0;
	}

	.main {
		padding-top: 170px;
		height: 940px;
	}

	.main__blockchain-number {
        font-size: 1rem;
    }

	.main__header {
		font-size: 3.6rem;
	}

	.main__content {
		background-size: 62%;
		background-position: center bottom;
	}

	.main__subheader {
		font-size: 1.1rem;
		line-height: 2rem;
	}

    .main__buttons {
	    margin: 100px 0;
    }

    .header2 {
    	font-size: 26px;
    }

    .information__header {
    	margin: 6rem 0 1rem;
    }

    .subheader {
    	font-size: 1rem;
    }

	.principe__header2 {
		padding-top: 2rem;
	}

	.principe__subheader {
		font-size: 1rem;
	}

	.sidebar {
		padding-top: 38px;
	}

	.sidebar__navbar {
	    padding: 0;
	}


	.sidebar__menu li {
		height: 68px;
	}

	.sidebar__menu li a {
		padding: 20px 20px 0 25px;
		font-size: 1rem;
	}

	.inter__nav {
        padding: 18px 48px 52px 46px;
    }

	.sidebar__menu-ico {
		width: 26px;
	}

	.socials {
		top: 2.5rem;
	}

    .socials_ico {
        margin: 0 1px 0 1px;
    }


    .unav {
    	padding: 1rem 2rem 1rem 2.7rem;
    }

    .unav__button {
    	width: 189px;
    	margin: 8px 14px 0 20px;
    	font-size: .8rem;
    }

	.unav-scroll .socials {
		top: 2.5rem;
	}

	.btn {
		font-size: .7rem;
	}

	.unav__lang {
		font-size: .75rem;
		margin: 19px 14px 0 0;
	}

	.unav__toggler {
		margin: 20px 14px 0 0;
		top: 218px;
	}

	.business__header2 {
	    margin: .5rem 0 1.5rem 0;
	}

	.information__dist {
		bottom: 30px;
	}

    .video__subheader {
    	font-size: .9rem;
    }

    .video__title {
        margin: 50px 0 40px 0;
    }

    .welcome__header {
        font-size: 1.2rem;
    }

    .welcome {
        padding: 120px 0 140px 0;
    }

    .footer__list li a {
	    margin: 20px 15px 0 0;
	    font-size: .7rem;
    }
    
    .footer__button{
    	font-size: .6rem;
    	padding: 0 25px 0 25px;
    }

    .footer__button-download {
    	width: 150px;
    }

    .footer__button-ask {
    	width: 130px;
    }

    .top-border-mobile {
    	border: 0;
    }

}

@media screen and (max-width: 1025px){

    .unav__button {
        width: 149px;
        margin: 8px 13px 0 10px;
    }

    .unav__lang {
        font-size: .6rem;
    }

    .main__buttons-btn {
    	width: 33%;
    	font-size: .6rem;
    }

    .subheader {
	    font-size: .6rem;
	    line-height: .9rem;
    }

    .header3 {
    	font-size: 16px;
    }

	.principe__header {
		font-size: 1rem;
	}

	.socials {
	    display: none;
	}

	.header2 {
		font-size: 1rem;
	}

	.principe__header2 {
        padding-top: 1rem;
    }

	.node__header2 {
	    font-size: .9rem;
	}

	.works {
		height: 650px;
	}

	.footer__button {
       font-size: .6rem;
       padding: 0 5px 0 5px;
    }

    .footer__button-download {
       width: 130px;
    }

    .footer__button-ask {
       width: 110px;
    }

}

@media screen and (max-width: 768px){

	.works__header2 {
		padding-top: 0;
	}

	.works {
		height: 540px;
	}

	.blue-btn {
       width: 200px;
       font-size: .7rem;
    }

    .whatcan__list {
	    width: 95%;
	    margin: 50px 0 30px 0;
	    font-size: .9rem;
    }

    .whatcan__list li {
	    padding-bottom: 1rem;
	    padding-left: .5rem;
	    font-size: 16px;
    }

}


@media screen and (max-width: 420px){

	.main {
	    padding-top: 120px;
	    height: 960px;
	}

	.main__bg {
        background-size: 150%;
        background-position: 30% 100%;
    }

    .subheader {
    	padding: 10px;
    	font-size: 1rem;
    	line-height: 1.4rem;
    }

	.navbar-brand {
		width: 150px
	}

    .unav__button, .desktop, .main__header-version, .works2__image, .principe__image {
    	display: none;
    }

    .unav__button-mobile {
    	float: right;
    	margin: 15px 13px 0 0;
    }

    .unav__button-mobile svg {
    	width: 32px;
    	fill: #fff;
    }

    .unav-scroll .unav__button-mobile svg {
    	fill: #000;
    }

    .socials, .logo-image {
    	display: none;
    }

    .logo-mobile {
    	display: inline-block;
    }

    .image-mobile, .mobile {
    	display: block;
    }

    .unav-scroll {
    	padding: 0 .5rem 0 .5rem;
    }

    .unav {
    	padding: .5rem 1rem;
    }

    .unav__toggler {
    	right: 14px;
        top: 210px;
    }

    .unav__lang {
    	margin: 0;
    }

    a.unav__lang:hover {
    	color: #000;
    }

    .unav__lang svg {
    	fill: #000;
    }

    .main__blockchain {
    	font-size: .7rem;
    }

    .main__blockchain-number {
    	border: 0;
    	display: block;
    	font-size: .8rem;
    	margin-bottom: 2rem;
    }

	.main__header {
		font-size: 3rem;
		display: block;
	}

	.main__buttons-btn {
		border-radius: 5px;
		width: 90%;
		border: 1px solid #fff;
	}

	.header {
	   font-size: 1.6rem;
	}

	.header2 {
        font-size: 1.1rem;
    }

	.btn-mobile {
		margin: 0 auto;
		margin-bottom: 30px;
		display: block;
	}

	.works {
        height: 1400px;
    }

    .works__physical {
    	position: relative;
    	text-align: center;
    	margin-bottom: 40px;
    }

    .works__digital {
    	position: relative;
    	text-align: left;
    	text-align: center;
    }

    .works2__git, .works2__mobile {
	    display: block;
	    margin: 0 auto;
	}

	.git-image {
		margin: 0 auto;
	}

	.main__buttons {
        margin: 50px 0;
    }

	.main__header-mobversion {
	    display: block;
	    font-size: 1.7rem;
	    margin: 1rem 0 2rem 0;
	    font-weight: bold;
	}

	.main__subheader {
	    font-size: 1rem;
	    text-align: justify;
	    line-height: 1.3rem;
	}

	.main__content {
		background-size: 170%;
	}


	.main__buttons-btn {
	    margin-bottom: 1rem;
	    font-size: .8rem;
	    margin-left: 0;
	    margin-right: 0;
	}

	.sidebar {
		width: 100%;
	}

	.sidebar__title {
		display: none;
	}


	.sidebar__mobile {
		display: flex;
		flex-wrap: wrap;
		color: #000;
		width: 100%;
		padding: 0 10px 30px 30px;
		justify-content: space-between;
	}

	.sidebar__mobile a {
		color: #000;
	}

	.inter__nav {
        padding: 16px 24px 22px 10px;
    }

    .col-xs-2, .col-sm-2 {
    	width: 16%;
    }

    .col-xs-6, .col-sm-6 {
    	width: 50%;
    }

    .col-xs-8, .col-sm-8 {
    	width: 64%;
    }

    .col-xs-12, .col-sm-12 {
    	width: 100%;
    }


	.works__img1, .works__img2 {
		float: none;
	}

	.works2 {
		padding: 0;
	}

	.works2 .image-block__hover {
		bottom: 10px;
	}

	.works2__header {
		padding: 0;
		text-align: left;	
	}

	.works2__subheader {
		padding: 0;
		text-align: left;
		margin: 0 0 20px 0;
		font-size: .9rem;
		width: 50%;
	}
	.works__header2 {
		margin-top: 50px;	
	}

	.works2__header2 {
		bottom: 25px;
	}

	.works2__scheme {
	    display: none;
	}

	.works2__git {
		text-align: center;
		padding: 50px 0 50px 0;
	}

	.works2__git-btn {
		height: 46px;
	}

	.works2__git-header {
		padding-top: 2rem;
	}

	.principe {
		background-color: #f5f5f5;
	}

	.principe__header2 {
        padding-top: 50px;
    }

	.principe__mobile {
		position: relative;
		text-align: center;
	}

	.principe__token {
		display: block;
		padding: 35px 0 40px 0;
	}

	.principe__subheader {
		font-size: .9rem;
		margin-bottom: 50px;
	}

	.node__container {
    	padding: 50px 0;
    }

	.node__image {
		display: none;
	}

	.node__image-mobile {
		margin-bottom: 50px;
		display: block;
	}

	.node__header {
		text-align: center;
		margin-bottom: 50px;
	}

	.node__block-left, .node__block-right {
		position: relative;
		padding: 0 1rem 0 1rem;
		margin: 0;
		
	}

	.node__list-left {
		margin: 0;
	}

	.node__list-right {
		margin: 20px 0;
	}

	.inter {
		height: auto;
		min-height: 100%;
	}

	.question__input, .question__area {
        padding: 5px 10px 5px 10px;
    }

    .video__button {
    	height: 50px;
    }

    .video__title {
        font-size: 1.4rem;
        margin: 40px 0 20px 0;
	}

	.video__subheader {
		font-size: .9rem;
	}

	.video__play {
	    height: 70px;
	    width: 70px;
    }

	.video__play-icon {
	    font-size: 1.5rem;
	    position: absolute;
	    top: 23px;
	    left: 28px;
	}

	.welcome {
	    padding: 50px 0 20px 0;
	}

	.welcome__socials svg {
	    width:32px;
	}

	.welcome__subscribe {
		padding: 50px 10px 10px 10px;

	}

	.footer__button {
		width: 100%;
		margin-bottom: 10px;
		font-size: .8rem;
	}

	.footer__right {
        margin: 10px 0 10px 0;
        padding-left: 0;
    }

    .blue-btn-white {
    	border: 0;
    	-webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
    }

    .top-border-mobile {
    	border-top: 1px solid #d7d7d7;
	    position: relative;
    }

    .works2__header-offset {
    	padding-top: 40px;
    }

    .works2__mobile-btn {
	    width: 287px;
	    height: 50px;
	    margin: 20px 0 70px 0;
	    font-size: .9rem;
    }

    .principe-mobile {
	    background: rgba(0,0,0,.06);
	    margin-top: 40px;
	    padding-bottom: 10px;
    }

    .principe-mobile__header2 {
	    font-size: 1.5rem;
	    padding: 50px 0 30px 0;
    }

    .node-mobile__header {
    	font-size: 1.4rem;
    	margin: 60px 0 40px 0;

    }

    .node-mobile__subheader {
    	padding: 20px 0 20px 0;
    }

    .map-mobile {
    	padding: 0 0 50px 0;
    }

    .map-mobile__header {
    	height: 40px;
    	margin: 10px 0 40px 0;
    	text-align: center;
    }

    .business-mobile {
	    background: rgba(0,0,0,.06);
	    padding-bottom: 50px;
    }

    .business-mobile__header {
    	font-size: 2rem;
    	margin-bottom: 20px;
    }

    .business-mobile__subheader {
    	padding-top: 40px;
    }

    .information-mobile__header {
    	font-size: 1.5rem;
    	margin: 20px 0 20px 0;
    }

    .information-mobile__header2 {
    	font-size: 1.2rem;
    	color: #2c88b0;
    	margin: 10px 0 40px 0;
    }

    .information2-mobile {
        background: rgba(0,0,0,.06);
        padding: 50px 0 0 0;
    }

    .information2-mobile__header {
    	font-size: 1.2rem;
    	margin-top: 20px;
    }


}


@media screen and (max-width: 375px){

	.unav__lang {
	    margin-right: .5rem;
	}

	.unav__toggler {
	    margin-left: 10px;
	}

    .main__subheader {
    	font-size: 1.3rem;
    }

	.works__img {
	    height: 400px;
	    margin: 0;
	}

}

@media screen and (max-width: 320px){

	.main {
	    padding-top: 110px;
	    height: 160%;
	}

	.logo img {
	    width: 112px;
	}

	.unav {
	    padding: .3rem .75rem .5rem .75rem;
	}

	.unav__toggler {
        font-size: .8em;
	    right: 9px;
	    top: 203px;
	}

	.sidebar {
    	padding-top: 32px;
	}

	.unav__button-mobile {
        margin: 15px 0px 0 0;
    }

	.main__header {
	    font-size: 2.5rem;
	}

	.main__header-mobversion {
	    margin: 1.5rem 0 2rem 0;
	}

	.main__subheader {
	    font-size: 1.2rem;
	    padding: 5px;
	    line-height: 1.5rem;
	}
    
	.main__buttons {
	    margin: 40px 0;
	}

	.image-mobile {

	}

	.works__img1, .works__img2 {
		display: block;
	}

	.works2__user-image {
		margin-left: -15px;
	}

	.node__header {
        font-size: 1.1rem;
    }

	.node__header2 {
		font-weight: 1rem;
	}

	.btn {
		padding: .5rem .7rem .5rem .7rem;
	}

	.sidebar {
        width: 100%;
    }

    .inter__header {
    	font-size: 1.3rem;
    	padding-top: 3rem;
    }

    .inter__region {
        margin: 30px 0 30px 0;
    }

}

