@font-face {
    font-family: 'Russo Sans';
    src: url('../fonts/RussoSansBold.eot');
    src: url('../fonts/RussoSansBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RussoSansBold.woff') format('woff'),
        url('../fonts/RussoSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body, html {
	width: 100%;
	height: 100%;
    font-family: 'Roboto', sans-serif;
    position: relative;
}


.logo, .navbar a:hover {
	color: #fff;
}

.header {
	font-family: 'Russo Sans';
	font-size: 2rem;
	padding-top: 5rem;
}

.header2 {
	font-family: 'Russo Sans';
	font-size: 1.6rem;
	padding-top: 4rem;
}

.subheader {
	font-weight: 100;
}

.unav {
	padding: .5rem 2rem .5rem 2rem;
	-webkit-transition: background-color 1s ease;
	-moz-transition: background-color 1s ease;
	-ms-transition: background-color 1s ease;
	-o-transition: background-color 1s ease;
	transition: background-color 1s ease;
}

.unav-scroll {
	background: rgba(255,255,255,.96);
	color: #000;
	padding: 0 2rem 0 2rem;
	box-shadow: 0 0 20px #555;
}

.unav-scroll .logo-image {
	content: url('../images/logo-bw.png'); 
	width: 32px;
	padding-top: 5px;
}

.unav-scoll .main__motto1 {
	font-size: 1.4em;
}

.unav-scroll a, .unav-scroll a:hover, .unav-scroll .unav__toggler-icon, .unav-scroll .unav__button {
	color: #000;
}

.unav-scroll .unav__right-menu {
	padding-top: 5px;
}

.unav-scroll .unav__button {
    border: 1px solid #000;
    padding: .4rem 1rem;
}

.socials {
	position: absolute;
	left: 50%;
	right: 50%;
	width: 300px;
	top: 2.4rem;
	margin-left: -150px;

}

.socials_ico {
	margin: 0 2px 0 2px;
}

.socials_ico:hover svg {
	fill: #ddd;
}

.unav-scroll .socials_ico:hover svg {
	fill: #444;
}

.socials_ico svg {
	width: 32px;
	fill: #fff;
}

.unav-scroll .socials {
	top: 2rem;
}

.unav-scroll .socials_ico svg {
	fill: #000;
	width: 28px;
}

.unav, .main_motto1:hover {
	color: #fff;
}

.unav__button {
	background: transparent;
	border: 1px solid #fff;
	border-radius: 20px;
	padding: .6rem 1.25rem;
	font-family: 'Russo Sans';
	color: #fff;
	cursor: pointer;
}

.unav__button:hover {
	background: rgba(255,255,255,.5);
}

.unav-scroll .unav__button:hover {
	background: rgba(0,0,0,.1);
}

.unav__lang {
	color: #fff;
	margin-right: 1rem;
	text-decoration: underline;
}

.unav__lang-arrow {
	margin-left: 5px;
	font-size: .6rem;
}

.unav__toggler {
	position: relative;
	margin-left: 14px;
	width: 50px;
	height: 50px;
}

.unav__toggler span {
	display: block;
}


.unav__toggler:hover {
	cursor: pointer;
}

.unav__toggler-icon {
	position: absolute;
	color: #fff;
	right: 0;
	left: 0;
	font-size: 2rem;
	padding-top: 3px;
}

.main__motto1 {
	font-family: 'Russo Sans';
	font-size: 2.5rem;
	margin-bottom: -10px;
	padding-top: 10px;
}

.main__motto2 {
	font-family: 'Russo Sans';
	font-size: 1rem;
	letter-spacing: 1px;
}

.main {
	color: #fff;
	padding-top: 165px;
	height: 100%;
	width: 100%;
	background: rgb(30,185,183);
	background: -moz-linear-gradient(top,  rgba(44,119,150,1) 0%, rgba(30,185,183,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%); 
	background: linear-gradient(to bottom,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%);
}

.main__content {
	height: 100%;
	background-image: url('../images/tablet.png');
	background-size: 118%;
	background-position: 0% 100%;
	background-repeat: no-repeat;
}

.main__blockchain {
	font-size: .9rem;
	font-weight: bold;
	color: #d3e9ef;
}


.main__header {
	font-size: 5rem;
	font-family: 'Russo Sans';
}

.main__header-version {
	font-size: 2rem;
}

.main__header-mobversion, .works2__git, .works2__mobile, .principe__token, .image-mobile, .sidebar__mobile, .mobile {
    display: none;
}

.main__subheader {
    color: #d3e9ef;
    font-size: 1.4rem;
}


.main__buttons {
	margin: 105px 0;
}

.main__buttons-btn {
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 50px;
	font-size: .6rem;
	padding: 1.1rem 1.25rem;
	font-family: 'Russo Sans';
	color: #003850;
	cursor: pointer;
	width: 100%;
}

.main__buttons-btn:hover {
	background: rgba(255,255,255,.75);
}

.works__img {
	height: 450px;
	width: 100%;
	margin: 50px 0 0 0;
}

.works__img1 {
	float: right;
}

.works__img2 {
	float: left;
}

.works h2 {
	margin-bottom: 30px;
}

.works2__scheme {
	padding-top: 50px;
}

.image-block {
	position: relative;
}

.image-block img {
	width: 100%;
	height: auto;
}

.image-block__hover {
	position: absolute;
	left: 0;
	z-index: 100;
}

.works2 .image-block__hover {
	bottom: 50px;
}

.principe {
	background-color: #f5f5f5;
}

.principe__header2 {
    padding-top: 3rem;
}


.node__container {
	
	background-position: center;
	min-height: 627px;
}

.node__block-right {
	right:0;
	left: auto;
	padding-left: 30px;
}

.node__header {
	font-size: 1.4rem;
}

.node__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.node__list li {
	padding-bottom: 20px;
}

.node__list-left {
	margin-top: 60px;
}

.node__header2 {
    font-size: 1.2rem;
 }

.node__subheader {
    font-size: .7rem;
 }

img.node__ico {
	width: 60px;
	height: 60px;
	float: left;
	margin: 0 20px 20px 0;
}



.inter, .question {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10000;
	background: rgba(255,255,255,0.96);
	left: 0;
	top: 0;
}

.inter__nav {
	padding: 5px 2rem 10px 2rem;
}

.inter__motto1, .inter__motto2 {
	color: #000;
}

.inter__x-icon svg {
	width: 20px;
}

.inter__x-icon:hover {
	cursor: pointer;
}

.inter__header {
}

a.inter__lang {
	text-decoration: underline;
	color: #555;
	font-size: 1rem;
}

a.inter__lang:hover {
	text-decoration: none;
}

.inter__region {
	font-weight: bold;
	border-bottom: 1px solid #000;
	margin: 50px 0 30px 0;
}

/* flags*/

.flag {
	width: 16px;
	height: 16px;
	background-image: url('../images/flags.png');
	background-size: cover;
	display: inline-block;
	margin: 0 1px -3px 0;
}

.flag-ru {
	background-position: 0 0;
}

.flag-en {
	background-position: 16px 0;
}

/* sidebar */


.sidebar {
	background: rgba(255,255,255,0.97);
	height: 100%;
	min-height: 100%;
	position: fixed;
	width: 420px;
	z-index: 11000;
	right: -420px;
	top:0;
	padding-top: 30px;
	-webkit-transition: right .5s ease-out .3s;
	-moz-transition: right .5s ease-out .3s;
	-ms-transition: right .5s ease-out .3s;
	-o-transition: right .5s ease-out .3s;
	transition: right .5s ease-out .3s;
	overflow: hidden;
}

.sidebar__wrapper {
	width: 100%;

}

.sidebar__navbar {
	padding: 0 0 20px 0;
}

.sidebar.active {
	right: 0;
}

.sidebar__logo {
	float: left;
	margin-left: 26px;
}

.sidebar__x-icon {
	margin: 10px 20px 0 0;
	width: 20px;
}

.sidebar__x-icon svg {
	width: 20px;
}

.sidebar__x-icon:hover {
    cursor: pointer;
}

a.sidebar__header {
	color: #2c95c3;
	font-size: 1.5rem;
	font-family: 'Russo Sans';
	margin: -3px 0 0 15px;
	float: left;
}

a.sidebar__header:hover {
	color: #2c95c3;
	text-decoration: none;
}

.sidebar__menu {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: scroll;
	margin-right: -27px;
}

.sidebar__menu li {
	height: 88px;
	border-top: 1px solid #dbe0e1;
}

.sidebar__menu li:hover {
	background: rgb(30,185,183);
	background: -moz-linear-gradient(top,  rgba(44,119,150,1) 0%, rgba(30,185,183,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%); 
	background: linear-gradient(to bottom,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%);
}

.sidebar__menu-icon {
	width: 28px;
	float: left;
	margin-right: 10px;
}

.sidebar__menu li a {
	width: 100%;
	padding: 30px 20px 0 25px;
	font-size: 1.1rem;
	font-family: 'Russo Sans';
	color: #000;
	float: left;
	display: block;
}

.sidebar__menu li:hover a {
	color: #fff;
	text-decoration: none;

}

.sidebar__menu li:hover .sidebar__menu-icon svg {
	fill: #fff;
}

/* ask question */

.question__header {
	padding: 30px 0;
}


.question__input, .question__area {
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    border: 1px solid #222;
    margin-bottom: 20px;
}

.question__area {
    height: 170px;
}

.blue-btn {
	color: #fff;
	padding: .4rem 2rem .4rem 2rem;
	border-radius: 20px;
	font-family: 'Russo Sans';
	background: rgb(30,185,183);
	background: -moz-linear-gradient(top,  rgba(44,119,150,1) 0%, rgba(30,185,183,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%); 
	background: linear-gradient(to bottom,  rgba(44,119,150,1) 0%,rgba(30,185,183,1) 100%);
}

.question__send-btn:hover {
    cursor: pointer;
    color: #ddd;
}

.ask__x-icon:hover {
	cursor: pointer;
}

.ask__x-icon svg {
	width: 20px;
}

.btn-mobile {
	display: none;
}



/* media */

@media screen and (max-width: 1280px){

	.logo img {
		width: 48px;
	}

	.main__motto1 {
		font-size: 1.7rem;
		padding-top: 0;
	}

	.main__motto2 {
		font-size: .6em;
	}

	.main {
		padding-top: 120px;
	}

	.main__header {
		font-size: 3.6rem;
	}

	.main__content {
		background-size: 62%;
		background-position: center bottom;
	}

	.main__subheader {
		font-size: 1.2rem;
	}

    .main__buttons {
	    margin: 70px 0;
    }

    .main__buttons-btn {
    	padding: 1rem;
    }

	.principe__header2 {
		padding-top: 2rem;
	}

	.principe__subheader {
		font-size: 1rem;
	}

	.sidebar {
		width: 320px;
		z-index: 11000;
		right: -320px;
		padding-top: 20px;

	}

	.sidebar__menu li {
		height: 68px;
	}

	.sidebar__menu li a {
		padding: 20px 20px 0 25px;
		font-size: 1rem;
	}

	.sidebar__menu-ico {
		width: 26px;
	}

	.socials {
	    top: 1.7rem;
    }

	.unav-scroll .socials {
		top: 1rem;
	}

}

@media screen and (max-width: 1024px){


	.principe__header {
		font-size: 1rem;
	}

	.principe__subheader {
		font-size: .7rem;
	}

	.socials {
		display: none;
	}

	.header2 {
		font-size: 1.1rem;
	}

	.principe__header2 {
        padding-top: 1rem;
    }

	.node__header2 {
	    font-size: .9rem;
	}

}


@media screen and (max-width: 640px){


	.main {
	    padding-top: 120px;
	    height: 150%;
	}

    .main__motto2, .unav__button, .desktop, .main__blockchain, .main__header-version, .works2__image, .principe__image {
    	display: none;
    }

    .image-mobile, .mobile {
    	display: block;
    }

    .logo img {
    	width: 32px;
    	margin-right: 6px;
    }

    .unav-scroll {
    	padding: 0 .5rem 0 .5rem;
    }

    .unav {
    	padding: .5rem;
    }

    .unav__toggler {
    	float: right;
    }

	.main__header {
		font-size: 3rem;
		display: block;
	}

	.header2 {
        font-size: 1.6rem;
    }

	.btn-mobile {
		margin: 0 auto;
		margin-bottom: 30px;
		display: block;
	}

    .works2__git, .works2__mobile {
	    display: block;
	    margin: 0 auto;
	}

	.git-image {
		margin: 0 auto;
	}

	.main__header-mobversion {
	    display: block;
	    font-size: 1.7rem;
	    margin: 2rem 0 4rem 0;
	    font-weight: bold;
	}

	.main__subheader {
	    font-size: 1.5rem;
	    text-align: justify;
	}

	.main__content {
		background-size: 170%;
	}


	.main__buttons-btn {
	    margin-bottom: 1rem;
	    font-size: .6rem;
	}


	.sidebar__mobile {
		display: flex;
		flex-wrap: wrap;
		color: #000;
		width: 100%;
		padding: 0 10px 30px 30px;
		justify-content: space-between;
	}

	.sidebar__mobile a {
		color: #000;
	}

    .col-xs-2, .col-sm-2 {
    	width: 16%;
    }

    .col-xs-8, .col-sm-8 {
    	width: 64%;
    }

	.works__img1, .works__img2 {
		float: none;
	}

	.works2 .image-block__hover {
		bottom: 10px;
	}

	.works2__header {
		padding: 10px 0 30px;	
	}

	.works2__subheader {
		padding: 30px 0 30px 0;
	}

	.works2__header2 {
	
		bottom: 25px;
	}

	.works2__scheme {
	    display: none;
	}

	.works2__git {
		text-align: center;
		background-color: #f5f5f5;
		padding: 30px 0 50px 0;
		margin-bottom: 50px;
	}

	.works2__git-header {
		padding-top: 2rem;
	}

	.principe {
		background-color: #f5f5f5;
	}

	.principe__mobile {
		position: relative;
		text-align: center;
	}

	.principe__token {
		display: block;
		padding: 35px 0 40px 0;
	}

	.principe__subheader {
		font-size: 1rem;
		margin-bottom: 50px;
	}

	.node__image {
		display: none;
	}

	.node__image-mobile {
		margin-bottom: 50px;
		display: block;
	}

	.node__header {
		text-align: center;
		margin-bottom: 50px;
	}

	.node__block-left, .node__block-right {
		position: relative;
		padding: 0 1rem 0 1rem;
		margin: 0;
		
	}

	.node__list-left {
		margin: 0;
	}

	.node__list-right {
		margin: 20px 0;
	}

	.inter {
		height: auto;
		min-height: 100%;
	}

}


@media screen and (max-width: 375px){

	.unav__lang {
	    margin-right: .5rem;
	}

	.unav__toggler {
	    margin-left: 10px;
	}

    .main__subheader {
    	font-size: 1.3rem;
    }

	.works__img {
	    height: 400px;
	    margin: 0;
	}

}

@media screen and (max-width: 320px){

	.main {
	    padding-top: 110px;
	    height: 170%;
	}

	.logo img {
	    width: 38px;
	}

	.unav {
	    padding: .5rem .75rem .5rem .75rem;
	}

	.unav__toggler {
        font-size: .8em;
	}

	.main__header {
	    font-size: 2.5rem;
	}

	.main__header-mobversion {
	    margin: 1.5rem 0 2rem 0;
	}

	.main__subheader {
	    font-size: 1rem;
	}
    
	.main__buttons {
	    margin: 40px 0;
	}

	.image-mobile {

	}

	.works2__user-image {
		margin-left: -15px;
	}

	.node__header {
        font-size: 1.1rem;
    }

	.node__header2 {
		font-weight: 1rem;
	}

	.btn {
		padding: .5rem .7rem .5rem .7rem;
	}

	.sidebar {
        width: 290px;
    }

    .inter__header {
    	font-size: 1.3rem;
    	padding-top: 3rem;
    }

    .inter__region {
        margin: 30px 0 30px 0;
    }

}

